<div class="user-dropdown" ngbDropdown>

  <button class="user-btn" ngbDropdownToggle>

    <div class="avatar">
      {{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}
    </div>

    <div class="user-info">
      <div class="name">
        {{ user.firstName }} {{ user.lastName }}
      </div>

      <div class="role">
        Operatore
      </div>
    </div>

  </button>

  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">

    <button ngbDropdownItem (click)="onLogout()">
      🚪 Logout
    </button>

  </div>

</div>