<nav class="app-navbar">

  <div class="container">

    <!-- BRAND -->
    <a class="brand" [routerLink]="['/delivery']">
      🚚 ITS DELIVERY
    </a>

    <!-- LINKS -->
    <ul class="nav-links">

      <li>
        <a routerLink="/delivery">Delivery</a>
      </li>

      <li>
        <a routerLink="/customer">Customer</a>
      </li>

      <li>
        <a routerLink="/analytics">Analytics</a>
      </li>

    </ul>

    <!-- USER -->
    <div class="user-area">

      <ng-container *ngIf="(currentUser$ | async) as currentUser; else loginBtn">

        <app-nav-user
          [user]="currentUser"
          (logout)="logout()"
        ></app-nav-user>

      </ng-container>

      <ng-template #loginBtn>
        <a class="login-btn" routerLink="/login">
          Login
        </a>
      </ng-template>

    </div>

  </div>

</nav>