<nav class="navbar bg-dark navbar-expand mb-3" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="nabar-brand" [routerLink]="['/home']">ITS-CLASS</a>
    <div class="collapse navbar-collapse">
    </div>
    <ul class="navbar-nav me-3">
      <app-nav-user
        *ngIf="(currentUser$ | async) as currentUser; else loginButton"
        (logout)="logout()"
        [user]="currentUser"
        ></app-nav-user>
      <ng-template #loginButton>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
